<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>DanceTime</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 10px 20px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }

        table {
             border-collapse: collapse;
             width: 100%;
        }
        th, td {
            text-align: center;
            padding: 10px;
            border: 1px solid black;
        }
        th {
            background-color: #ccc;
        }
        td button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
        }
        td button:hover {
            background-color: #3e8e41;
        }
        
    </style>
</head>
<body>
<ul>
    <li><a href="schedule" style="font-size: 23px">Расписание</a></li>
    <li><a href="records" style="font-size: 23px">Мои записи</a></li>
    <li><a href="trainers" style="font-size: 23px">Тренеры</a></li>
    <li style="margin-left: 13%"><a href="main"><h2 style="font-family:amaze;">DanceTime</h2></a></li>
    <li style="float:right"><a class="active" href="signin" style="font-size: 23px">Войти</a></li>
</ul>

<h1>Расписание тренировок</h1>
<table>
    <tr>
        <th>День недели</th>
        <th>Название тренировки</th>
        <th>Время</th>
        <th>Тренер</th>
        <th>Записаться</th>
    </tr>
    <tr>
        <td>Понедельник</td>
        <td>Балет</td>
        <td>10:00 - 11:00</td>
        <td>Тренер1</td>
        <td><button>Записаться</button></td>
    </tr>
    <tr>
        <td>Вторник</td>
        <td>Танго</td>
        <td>18:00 - 19:00</td>
        <td>Тренер2</td>
        <td><button>Записаться</button></td>
    </tr>
    <tr>
        <td>Среда</td>
        <td>Хип-Хоп</td>
        <td>9:00 - 10:00</td>
        <td>Тренер3</td>
        <td><button>Записаться</button></td>
    </tr>
    <tr>
        <td>Четверг</td>
        <td>Belly Dance</td>
        <td>16:00 - 17:00</td>
        <td>Тренер4</td>
        <td><button>Записаться</button></td>
    </tr>
    <tr>
        <td>Пятница</td>
        <td>Фламенко</td>
        <td>20:00 - 21:00</td>
        <td>Тренер4</td>
        <td><button>Записаться</button></td>
    </tr>
</table>

</body>
</html>